h1 {
  font-family: Tahoma;
  font-size: 25px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-size: 30px;
}
nav ul li a:hover {
  color: aliceblue;
}

nav {
  border: 0px solid black;
  border-radius: 15px;
  background-color: skyblue;
  padding: 0;
  position: fixed;
}
