h1 {
  font-family: 'Indie Flower';
  font-size: 25px;
}

p {
  font-family: 'Indoe Flower';
}

a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-size: 30px;
  text-transform: uppercase;
}
a:hover {
  color: aliceblue;
}

nav {
  border: 0px solid black;
  border-radius: 15px;
  background-color: skyblue;
  padding: 0;
  position: fixed;
  width: 100%;
}
